@model HomeIndexViewModel

@{
    ViewData["Title"] = "Pagina Principal";
}

<partial name="_Presentacion" />

<partial name="_Habilidades" />

<div class="espacio-footer"></div>

<partial name="_SeccionProyectos" model="Model.Proyectos" />
